<ion-app>
  <ion-content>
    <router-outlet></router-outlet>
    <header>
      <nav>
        <ul>
          <li>
            <a routerLink="/feed" class="name_app">Instafan</a>
          </li>
          <li>
            <ion-avatar>
              <ion-img [src]="fotoPerfil" id="avatar"></ion-img>
              <ion-popover trigger="avatar">
                <ng-template>
                  <ion-list>
                    <ion-item (click)="cerrarSesion()">
                      <ion-icon name="log-out" slot="start" class="danger-text"></ion-icon>
                      <ion-label>
                        <strong class="danger-text">
                          Cerrar sesión
                        </strong>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ng-template>
              </ion-popover>
            </ion-avatar>
          </li>
        </ul>
      </nav>
    </header>
    <app-tabs></app-tabs>
  </ion-content>
 </ion-app>
